[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "2.3.3"
flask-restful = "0.3.10"
Faker = "14.2.0"
pytest = "7.4.3"


[requires]
python_full_version = "3.13.3"
